<h1>単語作成</h1>
<%= form_for @question do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <div class="form-group">
    <%= f.label :question, '単語' %>
    <%= f.text_field :question, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description, '説明' %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <%= f.fields_for :question_similar do |q| %>
    <div class="form-group">
      <%= q.label :similar_word, '類義語' %>
      <%= q.text_field :similar_word, class: "form-control" %>
      <%= f.submit '作成', class: 'btn btn-primary form-control' %>
    </div>
  <% end %>
  
<% end %>
