<h1>メインメニュー</h1>
<p>下記のメニューよりクリックしてください</p>
<% if logged_in? %>
  <ul>
    <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
    <li><%= link_to 'テスト', new_test_path %>
    <li><%= link_to '単語マスタメンテナンス', questions_path %></li>
  </ul>
<% else %>
  <ul>
    <li><%= link_to 'ログイン', login_path %></li>
    <li><%= link_to '新規登録', new_user_path %></li>
  </ul>
<% end %>
<p>正解数<%= session[:correct] %></p>
<p>不正解数<%= session[:incorrect] %></p>
