<h1>メインメニュー</h1>
<p>下記のメニューよりクリックしてください</p>
<% if logged_in? %>
  <ul>
    <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
    <li><%= link_to '単語帳', new_test_path %>
    <li><%= link_to 'ランキング', ranking_test_index_path %></li>
    <li><%= link_to '単語マスタメンテナンス', questions_path %></li>
  </ul>
<% else %>
  <ul>
    <li><%= link_to 'ログイン', login_path %></li>
    <li><%= link_to '新規登録', new_user_path %></li>
  </ul>
<% end %>
<% if @incorrect_question %>
  <div class="review_link">
    <p>「<%= @incorrect_question.question %>」の意味分かりますか?</p>
    <p>間違った問題の復習は<%= link_to 'こちらから', review_test_index_path %></p>
  </div>
<% end %>
