<h1>Ranking</h1>
<% if session[:number] == 6 %>
  <div class="test_result">
    <p>テストお疲れ様でした。</p>
    <p>あなたの成績は、5問中 <%= session[:correct] %>問正解　正答率<%= @rate %>%で<%= @your_rank %>位でした</p>
  </div>
<% end %>
<div class="ranking">
  <ul>
    <li class="record">
      <div>順位</div>
      <div>名前</div>
      <div>正答率</div>
    </li>
    <% rates_array = [] %>
    <% rank_array = [] %>
    <% @users.each_with_index do |user, i| %>
      <% if rates_array.last == user.highest_rate %>
        <% i = rank_array.last %>
      <% else %>
        <% i = rank_array.count + 1 %>
      <% end %>
      <% rates_array << user.highest_rate %>
      <% rank_array << i %>
      <% if user.id == current_user.id %>
        <li class="record" style="color:red;">
          <div><%= i %>位</div>
          <div><%= user.name %></div>
          <div><%= user.highest_rate %>%</div>
        </li>
      <% else %>
        <li class="record">
          <div><%= i %>位</div>
          <div><%= user.name %></div>
          <div><%= user.highest_rate %>%</div>
        </li>
      <% end %>
    <% end %>
  </ul>  
</div>
<%= link_to 'メニューに戻る', root_path %>
